# dependencies
/backend/node_modules
/frontend/node_modules

# IDE
/.idea
/.awcache
/.vscode

# misc
npm-debug.log

# example
/quick-start

# tests
/test
/coverage
/.nyc_output

# config
backend/src/config/details

# dist
backend/dist

# assets
backend/public

# db data
backend/data